* {
  margin: 0;
  padding: 0;
  font-family: "Blinker", sans-serif;
  color: black;
}

.container {
  display: grid;
  height: 500px;
  margin: 10px;
  padding: 0px 150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Live-Comfortably Live-Comfortably Skincare Kitchen"
    "Live-Comfortably Live-Comfortably Skincare Electronics";
  font-size: 38px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .container {
    height: 1000px;
    padding: 0 10px; /* Adjust padding for smaller screens */
    grid-template-columns: 1fr 1fr; /* 2 columns for smaller screens */
    grid-template-rows: repeat(4, 1fr); /* 4 rows for each category */
    grid-template-areas:
      "Live-Comfortably Skincare"
      "Kitchen Electronics";
  }
}

.Live-Comfortably {
  grid-area: Live-Comfortably;
  background-image: url(/public/images/live.jpg);
}

.Skincare {
  grid-area: Skincare;
  background-image: url(/public/images/skincare.jpg);
}

.Kitchen {
  grid-area: Kitchen;
  background-image: url(/public/images/kitchen.jpg);
}

.Electronics {
  grid-area: Electronics;
  background-image: url(/public/images/electrinics.jpg);
}

.container * {
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px 20px;
  transition: 0.5s;
  filter: brightness(0.9);
}

.Live-Comfortably:hover,
.Skincare:hover,
.Kitchen:hover,
.Electronics:hover {
  /* filter: brightness(0.8);  */
  /* transition: filter 0.3s ease 0.3s; 0.3s delay before the transition starts */
  /* transition: 0.3s; */
  filter: brightness(0.5);
}

.title {
  margin: 100px 160px 35px 160px;
  text-align: left;
}

.poster-container {
  border: 3px solid #fff;
  display: flex;
  margin: 100px 160px;
  height: 400px;
  overflow: hidden; /* Add overflow: hidden to the container */
}

.poster-child {
  float: left;
  width: 50%;
  height: 100%; /* Set the height to 100% to match the container's height */
}

.left1 {
  height: 100%; /* Set the height to 100% to match the container's height */
  background-color: #e9e9e9;
  padding: 100px;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.right1 {
  height: 100%; /* Set the height to 100% to match the container's height */
  background-image: url(/public/images/poster.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.poster-heading{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: justify;
}

.poster-para{
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

.poster-btn{
  font-size: 17px;
  font-weight: 700;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: 2px solid black;
  display: flex;
  align-self:flex-start;
}

.poster-btn:hover{
  background-color: #e9e9e9;
  color: #000;
}

.right2 {
  height: 100%; /* Set the height to 100% to match the container's height */
  background-color: #e9e9e9;
  padding: 100px;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.left2 {
  height: 100%; /* Set the height to 100% to match the container's height */
  background-image: url(/public/images/poster2.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.carosel-title{
  font-size: 26px;
  font-weight: 600;
  text-align: left;
  margin-left: 160px;
  margin-bottom: 50px;
}
