

img {
  /* border: 2px solid red; */
  max-width: 100%;
  max-height: 250px;
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}



.prev {
  left: 10px;
}

.next {
  right: 10px;
}





/* ProductCarousel.css */

.product-carousel-container {
  position: relative;
}

.carousel-buttons {
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 20px auto; /* Center the buttons horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.next {
  font-size: 20px;
  cursor: pointer;
  color: white;
  background: #000;
  border: none;
  outline: none;
  transition: background 0.3s;
  margin: 0 5px; /* Add some space between buttons */
  height: 40px;
  width: 40px;
  font-weight: bold;
}

.prev:hover,
.next:hover {
  background: #373737;
}
