/* ProductGrid.css */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards in one row */
  gap: 20px; /* Increased gap between rows and columns */
  margin: 0 160px; /* Left and right margins set to 180px */

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr); /* 3 cards in one row for medium-sized screens */
    margin: 0 20px; /* Reduce margins for medium-sized screens */
    margin: 0 120px; /* Left and right margins set to 180px */

  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); /* 2 cards in one row for small screens */
    margin: 0 10px; /* Reduce margins for small screens */
    margin: 0 80px; /* Left and right margins set to 180px */

  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr; /* 1 card in one row for extra small screens */
    margin: 0 10px; /* Reduce margins for extra small screens */
    margin: 0 40px; /* Left and right margins set to 180px */

  }
}

.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  transition: border 0.5s; /* Add transition property for the border */
  text-align: center;
}

.product-card img {
  max-width: 100%;
  max-height: 250px;
  height: auto;
  margin: 0 auto; /* Center the image horizontally */
}

.product-card:hover {
  border: 1px solid black;
}
